<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.fitnessmobile" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/CustomButton" android:debuggable="true">
		
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".view.FitnessMobileMain"
			android:label="@string/app_name" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="br.com.fitnessmobile.view.FitnessMobileTab"/>
		<activity android:name="br.com.fitnessmobile.view.TabHome"  />
		<activity android:name=".view.TabPrograma"  />
		<activity android:name="br.com.fitnessmobile.view.TabMedidas" />
		<activity android:name="br.com.fitnessmobile.view.TabExercicios" />
		<activity android:name="br.com.fitnessmobile.view.ExercicioAerobicoView" />
		
		<service android:name="br.com.fitnessmobile.service.ServiceGPS">
			<intent-filter>
				<action android:name="SERVICO_GPS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
			
	</application>
</manifest>